body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.portfolio, 
.about-us {
    width: 100%;
}

.portfolio {
    background-color: #2d303a;
}

hr, 
h2, 
h3 {
    margin: 0;
    border-bottom-width: 0.5px;
}

h2 {
    padding-top: 60px;
    font-family: "Lato-Black", sans-serif;
    font-size: 30px;
    letter-spacing: 0.006em;
    word-spacing: -0.06em;
}

h2, 
h3 {
    color: #666d89;
    font-weight: 900;
}

h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.portfolio-content {
    height: 864px;
}

p span {
    letter-spacing: -0.005em;
    word-spacing: -0.033em;
}

.portfolio-content p, 
.about-us-content p {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.011em;
    word-spacing: -0.05em;
}

.portfolio-content, 
.about-us-content {
    width: 940px;
    margin: 0 auto;
}

p,
button {
    color: #767e9e;
}

button {
    padding: 0 7px;
    margin-right: 6px;
    line-height: 21px;
    border: 1px solid #767e9e;
    border-radius: 4.5px;
    background-color: #2d303a;
}

button, 
.photos p {
    font-weight: 400;
    font-size: 12px;
}

button, 
.second {
    letter-spacing: -0.018em;
    word-spacing: -0.058em;
}

button:hover {
    color: #dedede;
    border-color: initial;
}

button:hover, 
.social_media img:hover {
    cursor: pointer;
}

.social_media img:hover {
    opacity: 0.5;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 19px;
    height: 621px;
    overflow: hidden;
}

.pictures img {
    margin-bottom: 20px;
}

.about-us {
    background-color: #f2f2f2;
}

.about-us-content {
    height: 728px;
}

.photos {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.photos p {
    margin-top: 9px;
    line-height: 21px;
    text-align: justify;

}

.photos div {
    width: 300px;
}

.photos img {
    margin-bottom: 11px;
}

.photos p span {
    letter-spacing: 0.007em;
    word-spacing: -0.088em;
}

.about-us-content .second_p {
    letter-spacing: -0.001em;
    word-spacing: -0.015em;
}

.social_media {
    margin-top: 24px;
}

.social_media img {
    margin-right: 4px;
}