body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

header {
    background-color: #2d303a;
}

header, 
.services, 
.slider {
    width: 100%;
}

.navigation, 
.slider-content, 
.paragraph, 
.icons {
    width: 940px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    height: 89px;
}

.logo {
    letter-spacing: -0.5px;
    font-size: 25px;
}

.menu {
    padding-left: 0;
    margin-top: 22px;
}

.menu li{
    display: inline-block;
    padding-left: 10px;
    
}

.menu .list::before {
    content: "\00B7";
    padding-right: 12px;
    color: #3a3e4d;
}

.menu, .logo {
    font-weight: 700;
}

.red, 
.menu li:hover {
    color: #f06c64;
}

.menu li:hover, 
.arrow_right:hover, 
.arrow_left:hover {
    cursor: pointer;
}

hr, 
.icons p {
    margin: 0;
}

.slider {
    background-color: #f06c64;
}

.slider-content {
    display: flex;
    height: 594px;
}

.arrow_right {
    margin-left: 37px;
}

.arrow_left {
    margin-left: -15px;
}

.arrow_left, 
.arrow_right {
    margin-top: 270px;
    
}

.arrow_right:hover, 
.arrow_left:hover {
    cursor: pointer;
    opacity: 0.3;
}

.iphone_vertical {
    margin-top: 53px;
    margin-left: 36px;
}

.iphone-horizontal {
    margin-top: 174px;
    margin-left: 73px;
}

.services {
    background-color: #f2f2f2;
    height: 494px;
}

.paragraph {
    padding-top: 59px;
    
}

h1 {
    margin-top: 0;
    font-family: "Lato-Black";
    font-size: 30px;
    letter-spacing: 0.1px;
}

h1, 
h3 {
    color: #666d89;
    font-weight: 900;
}

h3, 
.services p {
    font-size: 18px;
}

.services p {
    font-weight: 400;
    line-height: 29px;
    word-spacing: -0.18px;
    letter-spacing: -0.15px;
}

.services p, 
.icons p {
    color: #767e9e;
}

p span {
    word-spacing: -0.3px;
    letter-spacing: -0.3px;
}

.icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    height: 50%;
}

.icons div {
    padding: 28px 0 3px 0;
    overflow: hidden;
}

.first img, 
.second img, 
.third img {
    float: left;
    margin-right: 19px;
}

.second  img {
    margin-left: 6px;
}

.third img {
    margin-left: 12px;
}

.first p {
    padding-left: 81px;
    padding-right: 14px;
}

.second p {
    padding-left: 88px;
    padding-right: 7px;
}

.third p {
    padding-left: 94px;
    padding-right: 0;
}

h3 {
    margin-top: -3px;
    margin-bottom: 9px;
    letter-spacing: 0.2px;
    word-spacing: -0.2px;
}

.icons p {
    text-align: justify;
    font-weight: 400;
    line-height: 22px;
    text-overflow: ellipsis;
}

.icons p, 
.menu li {
    font-size: 12px;
}