body, 
.submit,
.data_input::placeholder,  
.describe::placeholder, 
.describe,
.information p, 
.copyright {
    font-family: "Lato", sans-serif;
}

header, 
.services, 
.slider, 
.portfolio, 
.about-us, 
.get_quote, 
footer {
    width: 100%;
}

.navigation, 
.slider-content, 
.paragraph, 
.icons, 
.portfolio-content, 
.about-us-content, 
.get_quote_content, 
.footer-content, 
.block {
    width: 940px;
    margin: 0 auto;
}

body, 
hr, 
.icons p, 
h2, 
h3 {
    margin: 0;
}

hr {
    height: 6px;
    border-width: 0;
}

h3, 
.services p, 
.portfolio-content p, 
.about-us-content p, 
.get_quote_content p {
    font-size: 18px;
}

.icons p, 
.menu li, 
button, 
.photos p, 
.data_input::placeholder,  
.describe::placeholder, 
.information p, 
.copyright {
    font-size: 12px;
}

.portfolio-content p, 
.get_quote_content p {
    font-weight: 300;
    line-height: 30px;
}

.services p, 
.icons p, 
button, 
.photos p, 
.data_input::placeholder,  
.describe::placeholder, 
.information p, 
.copyright {
    font-weight: 400;
}

.menu, 
.logo, 
.submit {
    font-weight: 700;
}

header, 
.portfolio, 
button, 
footer {
    background-color: #2d303a;
}

h1 {
    margin-top: 0;
    font-size: 30px;
    letter-spacing: 0.003em;
}

h1, 
h2:not(.logo) {
    font-family: "Lato-Black", sans-serif;
}

h1,
h2:not(.logo):not(.quote), 
h3, 
.copyright {
    color: #666d89;
}

h1,
h2:not(.logo):not(.quote), 
h3 {
    font-weight: 900;
}

h2:not(.logo) {
    padding-top: 60px;
    font-size: 30px;
    letter-spacing: 0.006em;
    word-spacing: -0.06em;
}

h3 {
    margin-top: -3px;
    margin-bottom: 9px;
    letter-spacing: 0.011em;
    word-spacing: -0.011em;
}

.quote, 
.contact, 
.get_quote_content p, 
a, 
.data_input, 
.describe {
    color: #f0d8d9;
}

header {
    position: fixed;
    top: 0;
    z-index: 99;
}

.logo {
    padding: 0;
    letter-spacing: -0.02em;
    font-size: 25px;
}

.navigation {
    align-items: center;
    color: #ffffff;
    height: 89px;
}

.menu, 
.footer-content img {
    padding-left: 0;
    margin-top: 22px;
}

.menu li{
    display: inline-block;
    padding-left: 10px;
    
}

.menu .list::before {
    content: "\00B7";
    padding-right: 12px;
    color: #3a3e4d;
}

.logo::after, 
.menu li:hover,
li.menu_active {
    color: #f06c64;
}

.logo::after {
    content: "\002A";
    font-size: 26px;
    font-weight: 400;
}

.menu li:not(.menu_active):hover, 
button:not(.tabs_active):hover, 
.social_media img:hover, 
.submit:hover, 
.footer-content img:hover, 
.vert_phone_button, 
.hor_phone_button, 
.pictures img {
    cursor: pointer;
}

a, 
.pictures .border {
    cursor: default;
}

.get_quote {
    background-color: #f06c64;
}

.slider-content {
    position: relative;
    height: 594px;
}

.hr-slider {
    background-color: #ea676b;
}

.hr-blue {
    background-color: #6286e4;
}

.hr-slider, 
.hr-blue {
    transition: 0.6s ease-in-out;
}

.phone-items{
    display: flex;
    align-items: center;
    margin: 0 7.5%;
}

.slider-items {
    position: relative;
    top: 9%;
    width: 100%;
    overflow: hidden;
}

.icons div, 
.name {
    overflow: hidden;
}

.social_media img:hover, 
.footer-content img:hover {
    opacity: 0.5;
}

.iphone_vertical {
    margin-left: 2px;
}

.iphone_horizontal {
    margin-left: 73px;
}

.phones{
    margin: auto 22.6%;
}

.services {
    height: 494px;
}

.services, 
.about-us {
    background-color: #f2f2f2;
}

.paragraph {
    padding-top: 59px;
    
}

.services p, 
.about-us-content p, 
.get_quote_content p {
    line-height: 29px;
    letter-spacing: -0.008em;
    word-spacing: -0.01em;
    
}

p, 
button {
    color: #767e9e;
}

p span {
    word-spacing: -0.017em;
    letter-spacing: -0.017em;
}

.icons {
    padding: 0;
    margin-top: 45.5px;
    height: 50%;
}

.icons, 
.pictures, 
.navigation, 
.photos, 
.block,
.footer-content {
    display: flex;
}

.icons, 
.pictures, 
.navigation, 
.photos, 
.footer-content {
    justify-content: space-between;
}

.icons, 
.pictures, 
.navigation {
    flex-wrap: wrap;
}

.icons div {
    height: 40%;
}

.icons img {
    float: left;
    margin-right: 19px;
}

.icons p {
    margin-left: 80px;
    text-overflow: ellipsis;
}

.icons p, 
.photos p, 
.information p, 
.services p, 
.about-us-content p, 
.get_quote_content p {
    text-align: justify;
}

.icons p, 
.submit, 
.describe::placeholder, 
.information p {
    line-height: 22px;
}

.name {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.portfolio-content {
    height: 863px;
}

.portfolio-content p {
    margin-bottom: 9px;
}

.portfolio-content p, 
.photos p {
    letter-spacing: -0.011em;
    word-spacing: -0.05em;
}

button {
    text-align: center;
    padding: 0 7px;
    margin-right: 6px;
    line-height: 21px;
    border: 1px solid #767e9e;
    border-radius: 4.5px;
    letter-spacing: -0.018em;
    word-spacing: -0.058em;
}

button:hover, 
.tabs_active {
    color: #dedede;
    border-color: initial;
    outline: none;
}

.pictures {
    padding-top: 19px;
    height: 621px;
}

.pictures img:nth-child(n+13) {
    display: none;
    border: 5px solid #767e9e;
}

.pictures, 
.get_quote_content p:not(.information p) {
    padding-top: 19px;
    margin: 0;
}

.pictures img {
    margin-bottom: 20px;
}

.about-us-content {
    height: 728px;
}

.photos {
    margin-top: 47px;
}

.photos p {
    margin-top: 9px;
    line-height: 21px;

}

.photos div, 
.information, 
.icons div {
    width: 300px;
}

.photos img {
    margin-bottom: 13px;
}

.photos p span {
    letter-spacing: 0.007em;
    word-spacing: -0.088em;
}

.about-us-content .second_p {
    letter-spacing: -0.001em;
    word-spacing: -0.015em;
}

.social_media {
    margin-top: 25px;
}

.social_media img {
    margin-right: 4px;
}

.get_quote_content p {
    margin-bottom: 45px;
}

.data_input, 
.describe, 
.submit {
    padding-left: 15px;
    padding-right: 15px;
    border-width: 0;
    border-radius: 5px;
    outline: none;
}

.data_input, 
.describe {
    background-color: #d6564f;
}

.describe {
    height: 193px;
    padding-top: 7.5px;
    margin-bottom: 12px;
    resize: none;
}

form, 
.data_input, 
.describe {
    width: 590px;
}

.data_input{
    margin-bottom: 16px;
    height: 36px;
}

.data_input:focus, 
.describe:focus, 
.submit:hover {
    box-shadow: 0 0 5px #4e0202;
}

.submit {
    padding: 0;
    width: 136px;
    height: 38px;
    font-size: 14px;
    background-color: #fbc65f;
    color: #886A30;
}

.data_input::placeholder, 
.describe::placeholder {
    color: #f48c8f;
}

.block {
    justify-content: space-between;
    height: 431px;
}

.contact {
    letter-spacing: 0.021em;
}

.information p {
    margin-top: 0;
    margin-bottom: 23px;
    letter-spacing: 0;
    word-spacing: -0.05em;
}

.information .location, 
.information .telephone, 
.information .mail {
    margin-top: 0;
    margin-bottom: -2px;
}

.location::before {
    content: url(assets/location.png);
}

.telephone::before {
    content: url(assets/telephone.png);
}

.mail::before {
    content: url(assets/mail.png);
}

.location::before, 
.telephone::before, 
.mail::before {
    vertical-align: middle;
    padding-right: 9px;
}

.information a {
    text-decoration: none;
    cursor: pointer;
}

.information a:hover {
    color: #4e0202;
}

.footer-content {
    height: 76px;
}

.footer-content img {
    margin-left: 4px;
}

.copyright {
    margin-top: 30px;
    margin-left: 3px;
}

#black_vert, 
#black_hor, 
#message-block, 
#message {
    position: absolute;
}

#black_vert{
    left: 9.1%;
    width: 189px;
    height: 335px;
    margin-top: -10px;
    background-color: #000000;
}

#black_hor{
    left: 47.3%;
    width: 334px;
    height: 189px;
    margin-top: -12px;
    background-color: #000000;
}

.slider-items .hidden, 
#message-block.hidden{
    display: none;
}

.border, 
.pictures img:hover {
    outline: 5px solid #f06c64;
    box-shadow: 0 0 10px #f06c64;
}

#message-block {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.8);
}

#message {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 20px;
    max-width: 400px;
    outline: 3px solid #3a3a3a;
    background: #b3aaaa;
    transform: translate(-50%, -50%);
}

.control {
    position: absolute;
    top: 45.3%;
    bottom: 0;
    width: 180px;
}

.control.right {
    right: -15.5%;
    left: auto;
}

.control.left {
    left: -1.5%;
    right: auto;
}

.control img {
    cursor: pointer;
}

.item{
    display: none;
    position: relative;
    animation: 0.6s ease-in-out;
    margin: 0 auto;
}

.active, .next {
    display: block;
}

.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.to-left {
    animation-name: left;
}

.from-right {
    animation-name: right;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.arrow {
    display: inline-block;
    position: absolute;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

@media (max-width: 940px) {
    .description {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 640px) {
    .control > .arrow {
        display: none;
    }

    .project-name {
        display: none;
    }

    .description {
        border: 0;
    }
}

.blue {
    background-color: #648BF0;
}

.slider {
    background-color: #f06c64;
}

.blue, 
.slider {
    margin-top: 95px;
    transition: 0.6s ease-in-out;
}

.vert_phone_button {
    top: 86%;
    left: 17.8%;
}

.hor_phone_button {
    left: 42.8%;
    top: 44.7%;
}

.vert_phone_button, 
.hor_phone_button {
    position: absolute;
    width: 25px;
    height: 25px;
}

#result_desrcipt {
    overflow-wrap: break-word;
}